/* Reset général */
body, h1, h2, h3, p, ul, li, a, img, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* la base de tout */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  background-color: #0e0e10;
  color: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
  height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Header */
.main-header {
  background-color: #333333;
  color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.main-header.sticky {
  background-color: rgba(51, 51, 51, 0.95);
  transition: background-color 0.5s ease;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 20px;
  padding: 12px 20px;
  transition: all 0.3s ease;
  color: #f0f0f0;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover {
  color: #ff4654;
  border-bottom: 2px solid #ff4654;
}

/* la section 'hero' qui nous positionne tout le début de page */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-fond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.pardessus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  z-index: 2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 0 20px;
  transition: transform 0.3s ease;
}

.hero-content h1 {
  margin-bottom: 0;
}

.hero-content .subtitle {
  font-size: 1.5em;
  color: #ff4654;
  font-weight: bold;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.hero-content h1 .écrit_blanc {
  width: auto;
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  font-size: 3em;
  color: #f0f0f0;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

/* Best Players, cette section concerne les meilleurs joueurs */
.best-players-section {
  padding: 60px 0;
  background-color: #333333;
  text-align: center;
  width: 100%;
}

.best-players-section h2 {
  font-size: 3em;
  font-weight: bold;
  color: #ff4654;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}

.players-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(25% - 50px);
  min-width: 200px;
}

.player-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ff4654;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Nom du joueur */
.player p:first-of-type {
  margin-top: 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: #ff4654;
  padding: 5px 10px;
  border-radius: 30px;
  background-color: #f0f0f0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Description du joueur */
.player-description {
  font-size: 0.9em;
  color: #f0f0f0;
  margin-top: 10px;
  font-weight: normal;
  line-height: 1.4;
  max-width: 180px;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .player {
      width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .player {
      width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .player {
      width: 100%;
  }
}


/* bas de page */
.footer {
  background-color: #333333;
  color: #f0f0f0;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  visibility: visible;
  opacity: 1;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}

/* Fade out the loader */
.loader-wrapper.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

/* From Uiverse.io by Li-Deheng */ 
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: hsl(0, 0%, 87%);
  --animation: 2s ease-in-out infinite;
}

.loader .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  border: solid 2px var(--color);
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
  animation: circle-keys var(--animation);
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
}

.loader-wrapper.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.loader-wrapper.fade-out ~ * {
  opacity: 1;
  transition: opacity 0.5s;
}

.circle:nth-child(2) {
  animation-delay: 0.3s;
}

.circle:nth-child(3) {
  animation-delay: 0.6s;
}

.circle:nth-child(4) {
  animation-delay: 0.9s;
}

.circle:nth-child(5) {
  animation-delay: 1.2s;
}

.circle:nth-child(2) .dot {
  animation-delay: 0.3s;
}

.circle:nth-child(3) .dot {
  animation-delay: 0.6s;
}

.circle:nth-child(4) .dot {
  animation-delay: 0.9s;
}

.circle:nth-child(5) .dot {
  animation-delay: 1.2s;
}

.circle:nth-child(1) .outline {
  animation-delay: 0.9s;
}

.circle:nth-child(2) .outline {
  animation-delay: 1.2s;
}

.circle:nth-child(3) .outline {
  animation-delay: 1.5s;
}

.circle:nth-child(4) .outline {
  animation-delay: 1.8s;
}

.circle:nth-child(5) .outline {
  animation-delay: 2.1s;
}

@keyframes circle-keys {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes dot-keys {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes outline-keys {
  0% {
    transform: scale(0);
    outline: solid 20px var(--color);
    outline-offset: 0;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    outline: solid 0 transparent;
    outline-offset: 20px;
    opacity: 0;
  }
}